.slider-item_view_full[style] {
    position: relative;
    width: 100% !important;
    height: 100% !important;
    font-family: var(--font);

    .slider-item {
        &__preview {
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            z-index: -5;
            width: 100%;
            height: 100%;
        }


        &__image {
            width: 100%;
            height: 100%;
            background-position: center center;
            background-size: cover;
        }


        &__overlay {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            background-color: black;
            opacity: 0.5;

            .icon {
                display: none;
            }
        }


        &__preview-info {
            display: none;
        }


        &__content {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            box-sizing: border-box;
            margin-top: auto;
            padding: 40px 65px 90px 40px;
            width: 100%;
            height: 100%;
        }


        &__type {
            position: absolute;
            top: 40px;
            left: 40px;
            z-index: 2;
            color: white;
            text-align: left;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            font-size: 22px;
            font-family: var(--font);
        }


        &__header {
            margin-bottom: 10px;
        }


        &__title {
            border-color: white;
            color: white;
            font-weight: normal;
            font-size: 32px;
            font-family: var(--font);

                &:hover {
                    .link {
                        border-bottom: 2px solid white;
                    }
                }
        }


        &__like {
            position: absolute;
            top: 40px;
            right: 40px;
            width: 20px;
            height: 18.3px;
        }


        &__description {
            width: 90%;
            color: white;
            font-weight: 500;
            font-size: 22px;
            font-family: var(--font);
        }


        &__footer {
            position: absolute;
            right: -14px;
            bottom: 130px;
            transform: rotate(90deg);
        }


        &__info-item {
            display: none;
        }


        &__viewsS {
            display: block;
            color: white;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            font-size: 14px;
            font-family: var(--font);
        }
    }
}
