.link-tag_view_person {
    color: black;
    text-align: left;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    font-size: 12px;
    font-family: var(--font);
    line-height: 1.67;

    &:before {
        position: relative;
        top: -1px;
        padding-right: 2px;
        content: '@';
        font-size: 9px;
        opacity: 0.7;
    }


    &:hover {
        border-color: var(--color-links-hovered);
        color: var(--color-links-hovered);

        &:before {
            color: var(--color-links-hovered);
            opacity: 1;
        }
    }
}