.spinner {
    &_type_rotating-plane {
        .spinner {
            &__trick {
                position: absolute;
                margin: var(--spinkit-spinner-margin);
                width: var(--spinkit-size);
                height: var(--spinkit-size);
                background-color: var(--spinkit-spinner-color);
                animation: sk-rotatePlane 1.2s infinite ease-in-out;
            }
        }
    }
}



@keyframes sk-rotatePlane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }


 50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }


 100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}