.spinner {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    &__trick {
        top: 50%;
        right: 0px;;
        bottom: 0px;
        left: 0px;
    }
}