.button {
    box-sizing: border-box;
    min-width: 40px;
    min-height: 40px;
    color: inherit;
    font-weight: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;

    &:hover {
        cursor: pointer;
    }


    &_disabled {
        opacity: 0.3;
    }
}