.views {
    display: flex;
    align-content: center;
    align-items: center;
    color: var(--color-semiblack);
    font-weight: 400;
    font-size: 10px;
    font-family: var(--font);

    &__icon {
        margin-right: 5px;
        width: 1.6em;
        height: 1.1em;
    }


    &_type_person {
        font-size: 12px;
    }
}